Assignment-5

# Question 1

1. Principal Component Analysis

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, accuracy_score
from sklearn.decomposition import PCA

a. Apply PCA on CC dataset.

In [2]:
cc = pd.read_csv("C:/Users/Dell/Desktop/ML5/datasets5/datasets/CC.csv")
cc.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

b. Apply k-means algorithm on the PCA result and report your observation if the silhouette score
has improved or not?

In [3]:
cc.describe()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
count,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8949.000000,8950.000000,8637.000000,8950.000000,8950.000000
mean,1564.474828,0.877271,1003.204834,592.437371,411.067645,978.871112,0.490351,0.202458,0.364437,0.135144,3.248827,14.709832,4494.449450,1733.143852,864.206542,0.153715,11.517318
std,2081.531879,0.236904,2136.634782,1659.887917,904.338115,2097.163877,0.401371,0.298336,0.397448,0.200121,6.824647,24.857649,3638.815725,2895.063757,2372.446607,0.292499,1.338331
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.019163,0.000000,6.000000
25%,128.281915,0.888889,39.635000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,1600.000000,383.276166,169.123707,0.000000,12.000000
50%,873.385231,1.000000,361.280000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,3000.000000,856.901546,312.343947,0.000000,12.000000
75%,2054.140036,1.000000,1110.130000,577.405000,468.637500,1113.821139,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,6500.000000,1901.134317,825.485459,0.142857,12.000000
max,19043.138560,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,30000.000000,50721.483360,76406.207520,1.000000,12.000000

In [4]:
# delete CUST_ID
cc.drop(["CUST_ID"], axis=1, inplace=True)

In [5]:
cc.describe()
#cc.hist(bins=30)
#cc.boxplot() # remove any outliers if found

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
count,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8949.000000,8950.000000,8637.000000,8950.000000,8950.000000
mean,1564.474828,0.877271,1003.204834,592.437371,411.067645,978.871112,0.490351,0.202458,0.364437,0.135144,3.248827,14.709832,4494.449450,1733.143852,864.206542,0.153715,11.517318
std,2081.531879,0.236904,2136.634782,1659.887917,904.338115,2097.163877,0.401371,0.298336,0.397448,0.200121,6.824647,24.857649,3638.815725,2895.063757,2372.446607,0.292499,1.338331
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.019163,0.000000,6.000000
25%,128.281915,0.888889,39.635000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,1600.000000,383.276166,169.123707,0.000000,12.000000
50%,873.385231,1.000000,361.280000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,3000.000000,856.901546,312.343947,0.000000,12.000000
75%,2054.140036,1.000000,1110.130000,577.405000,468.637500,1113.821139,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,6500.000000,1901.134317,825.485459,0.142857,12.000000
max,19043.138560,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,30000.000000,50721.483360,76406.207520,1.000000,12.000000

In [6]:
#fill missing values in MINIMUM_PAYMENTS
mean_min_pay = int(cc.MINIMUM_PAYMENTS.dropna().mean())
cc['MINIMUM_PAYMENTS'] = cc['MINIMUM_PAYMENTS'].fillna(mean_min_pay)

In [7]:
#fill missing values in CREDIT_LIMIT
mean_cred_lim = int(cc.CREDIT_LIMIT.dropna().mean())
cc['CREDIT_LIMIT'] = cc['CREDIT_LIMIT'].fillna(mean_cred_lim)

In [8]:
#elbow is at k=5
km = KMeans(n_clusters=5, random_state=0)
km.fit_predict(cc)
score = silhouette_score(cc, km.labels_, metric='euclidean')
print('Initial Silhouetter Score: %.3f' % score)

Initial Silhouetter Score: 0.379

In [9]:
pca = PCA(n_components=5)
pca.fit(cc)
cc_pca = pd.DataFrame(pca.transform(cc), columns = ['A', 'B', 'C', 'D', 'E'])

In [10]:
#elbow is at k=5
km = KMeans(n_clusters=5, random_state=0)
km.fit_predict(cc_pca)
score = silhouette_score(cc_pca, km.labels_, metric='euclidean')
print('PCA Silhouetter Score: %.3f' % score)

PCA Silhouetter Score: 0.416

In [11]:
mms = MinMaxScaler()
mms.fit(cc)
cc_transformed_mms = mms.transform(cc)

In [12]:
pca = PCA(n_components=5)
pca.fit(cc_transformed_mms)
cc_pca_transformed = pd.DataFrame(pca.transform(cc_transformed_mms), columns = ['A', 'B', 'C', 'D', 'E'])

In [13]:
#elbow is at k=5
km = KMeans(n_clusters=5, random_state=0)
km.fit_predict(cc_pca_transformed)
score = silhouette_score(cc_pca_transformed, km.labels_, metric='euclidean')
print('Scaled PCA Silhouetter Score: %.3f' % score)

Scaled PCA Silhouetter Score: 0.383

# Question 2

2. Use pd_speech_features.csv

In [14]:
speech_f = pd.read_csv("C:/Users/Dell/Desktop/ML5/datasets5/datasets//pd_speech_features.csv")
speech_f.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

In [15]:
speech_f.describe()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
count,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,...,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000
mean,125.500000,0.515873,0.746284,0.700414,0.489058,323.972222,322.678571,0.006360,0.000383,0.002324,...,26.237251,22.840337,18.587888,13.872018,12.218953,12.375335,14.799230,14.751559,31.481110,0.746032
std,72.793721,0.500079,0.169294,0.069718,0.137442,99.219059,99.402499,0.001826,0.000728,0.002628,...,42.220693,32.626464,25.537464,20.046029,17.783642,16.341665,15.722502,14.432979,34.230991,0.435568
min,0.000000,0.000000,0.041551,0.543500,0.154300,2.000000,1.000000,0.002107,0.000011,0.000210,...,1.509800,1.531700,1.582900,1.747200,1.789500,1.628700,1.861700,1.955900,2.364000,0.000000
25%,62.750000,0.000000,0.762833,0.647053,0.386537,251.000000,250.000000,0.005003,0.000049,0.000970,...,2.408675,3.452800,3.354825,3.077450,2.937025,3.114375,3.665925,3.741275,3.948750,0.000000
50%,125.500000,1.000000,0.809655,0.700525,0.484355,317.000000,316.000000,0.006048,0.000077,0.001495,...,5.586300,7.062750,6.077400,4.770850,4.300450,4.741450,6.725700,7.334250,10.637250,1.000000
75%,188.250000,1.000000,0.834315,0.754985,0.586515,384.250000,383.250000,0.007528,0.000171,0.002520,...,28.958075,29.830850,21.944050,13.188000,10.876150,12.201325,21.922050,22.495175,61.125325,1.000000
max,251.000000,1.000000,0.907660,0.852640,0.871230,907.000000,905.000000,0.012966,0.003483,0.027750,...,239.788800,203.311300,121.542900,102.207000,85.571700,73.532200,62.007300,57.544300,156.423700,1.000000

a. Perform Scaling

In [16]:
# delete CUST_ID
speech_f.drop(["id"], axis=1, inplace=True)

In [17]:
x_speech = speech_f.drop(['class'], axis=1)
y_speech = speech_f.loc[:,'class']

In [18]:
from sklearn import svm
clf = svm.SVC()
clf.fit(x_speech, y_speech)
y_pred=clf.predict(x_speech)
print(accuracy_score(y_speech, y_pred))

0.7566137566137566

b. Apply PCA (k=3)

In [19]:
mms = MinMaxScaler()
mms.fit(x_speech)
x_speech_transformed_mms = mms.transform(x_speech)

In [20]:
clf = svm.SVC()
clf.fit(x_speech_transformed_mms, y_speech)
y_pred=clf.predict(x_speech_transformed_mms)
print(accuracy_score(y_speech, y_pred))

0.8703703703703703

c. Use SVM to report performance

In [21]:
pca = PCA(n_components=100)
pca.fit(x_speech_transformed_mms)
speech_pca_transformed = pd.DataFrame(pca.transform(x_speech_transformed_mms))#, columns = ['A', 'B', 'C']

In [22]:
clf = svm.SVC()
clf.fit(speech_pca_transformed, y_speech)
y_pred=clf.predict(speech_pca_transformed)
print(accuracy_score(y_speech, y_pred))

0.9298941798941799

# Question 3

3. Apply Linear Discriminant Analysis (LDA) on Iris.csv dataset to reduce dimensionality of data to k=2.

In [23]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [24]:
iris=pd.read_csv("C:/Users/Dell/Desktop/ML5/datasets5/datasets//Iris.csv")
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [25]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [26]:
iris_x = iris.drop(["Species"], axis=1)
iris_y = iris.loc[:,"Species"]

In [27]:
lda = LDA(n_components=2)
iris_x_transformed = lda.fit(iris_x, iris_y).transform(iris_x)

In [224]:
print(iris_x_transformed)

[[-1.00367633e+01 -4.51330244e-01]
 [-9.17292994e+00 -1.47723373e+00]
 [-9.48098912e+00 -9.79692560e-01]
 [-8.81811924e+00 -1.40860220e+00]
 [-9.96020031e+00 -1.12546395e-01]
 [-9.52340255e+00  4.51643380e-01]
 [-9.09952354e+00 -4.86482040e-01]
 [-9.36783890e+00 -5.04697982e-01]
 [-8.43252777e+00 -1.54258487e+00]
 [-9.04605350e+00 -1.12678955e+00]
 [-9.95350008e+00  3.56470204e-01]
 [-8.87394210e+00 -5.18434104e-01]
 [-8.94008429e+00 -1.11285002e+00]
 [-9.18158609e+00 -8.76623262e-01]
 [-1.11320035e+01  1.61775153e+00]
 [-1.04813364e+01  2.21867191e+00]
 [-9.96642412e+00  1.39824256e+00]
 [-9.19297836e+00  3.48117706e-01]
 [-9.36227503e+00  8.31991272e-01]
 [-9.32391418e+00  9.16315048e-01]
 [-8.76248233e+00 -5.62718432e-02]
 [-8.88178087e+00  8.74105504e-01]
 [-9.87055894e+00  1.00209591e+00]
 [-7.60804498e+00 -8.20642233e-03]
 [-7.77791864e+00 -3.20242776e-01]
 [-7.96141242e+00 -6.57043051e-01]
 [-8.00979719e+00  3.34031714e-01]
 [-8.92701582e+00  6.16194234e-01]
 [-8.96319773e+00  5.77438977e-01]
 [-7.88178440e+00 -1.83196764e-01]
 [-7.77863981e+00 -3.08300446e-01]
 [-8.32075648e+00  7.97946692e-01]
 [-9.80491422e+00  1.96064097e+00]
 [-1.00940635e+01  2.49438691e+00]
 [-8.14751552e+00 -5.83887141e-02]
 [-8.71531779e+00  6.48054077e-01]
 [-9.23353552e+00  1.33740177e+00]
 [-8.03969096e+00  6.98193862e-02]
 [-7.70134791e+00  5.92388280e-02]
 [-8.28797837e+00  8.95632366e-01]
 [-8.50564992e+00  1.41739490e+00]
 [-6.46871430e+00 -1.11115936e+00]
 [-7.83252412e+00  6.31416947e-01]
 [-7.07070424e+00  1.40703204e+00]
 [-7.35421879e+00  1.58114846e+00]
 [-7.28845589e+00  4.43309849e-01]
 [-8.37667774e+00  1.87812687e+00]
 [-7.58375812e+00  7.91525966e-01]
 [-8.51745429e+00  1.94766220e+00]
 [-7.93041853e+00  1.20872413e+00]
 [ 5.47603031e-01 -1.34953488e+00]
 [ 8.18743015e-01 -1.19227573e+00]
 [ 1.47919357e+00 -1.66277311e+00]
 [ 1.24674791e+00 -2.75759433e+00]
 [ 1.61577864e+00 -1.95288402e+00]
 [ 1.53871193e+00 -2.19911126e+00]
 [ 1.58321582e+00 -9.76071865e-01]
 [-4.90848088e-01 -1.96762310e+00]
 [ 1.08624721e+00 -1.69441638e+00]
 [ 1.14650126e+00 -1.60498091e+00]
 [ 5.15782102e-01 -2.84735710e+00]
 [ 1.17565717e+00 -9.72658654e-01]
 [ 6.58014924e-01 -2.62850679e+00]
 [ 2.05966891e+00 -1.69081292e+00]
 [-9.13685905e-02 -5.74515926e-01]
 [ 8.06217483e-01 -6.50066097e-01]
 [ 2.19495271e+00 -1.21468742e+00]
 [ 5.00497531e-01 -1.59642191e+00]
 [ 2.94499642e+00 -2.53748763e+00]
 [ 8.01449008e-01 -1.66655160e+00]
 [ 3.18009339e+00 -6.82748437e-01]
 [ 7.84731075e-01 -7.88597108e-01]
 [ 3.44445927e+00 -2.20841806e+00]
 [ 2.09099696e+00 -1.60994034e+00]
 [ 1.17306396e+00 -7.18817291e-01]
 [ 1.37337189e+00 -4.56100032e-01]
 [ 2.38209782e+00 -1.22554624e+00]
 [ 3.33089169e+00 -8.33798757e-01]
 [ 2.48264977e+00 -7.71362907e-01]
 [-1.18032439e-01 -6.02229567e-01]
 [ 1.19495037e+00 -1.31072380e+00]
 [ 7.88518179e-01 -1.22179744e+00]
 [ 1.08598945e+00 -5.71259243e-01]
 [ 4.42764620e+00 -1.60073556e+00]
 [ 2.98243620e+00 -5.10993376e-01]
 [ 2.27966382e+00  6.03809671e-01]
 [ 2.42255223e+00 -3.70511200e-02]
 [ 2.74499322e+00 -1.51885379e+00]
 [ 1.68172957e+00  5.61373580e-02]
 [ 2.26570031e+00 -8.17863146e-01]
 [ 2.76976983e+00 -1.12394831e+00]
 [ 2.71896572e+00 -1.74461286e-01]
 [ 1.79247035e+00 -4.63641603e-01]
 [ 8.70249660e-01 -5.96965610e-01]
 [ 2.51938668e+00 -4.08423121e-01]
 [ 1.83986756e+00  1.96005786e-01]
 [ 2.24605936e+00  1.11060208e-01]
 [ 2.14025506e+00  1.98556924e-01]
 [ 3.08742320e-01  4.81038307e-01]
 [ 2.28176049e+00  1.57777018e-01]
 [ 7.98438431e+00  1.20979101e-02]
 [ 5.91346711e+00 -6.78235364e-01]
 [ 6.76582503e+00 -4.14678608e-01]
 [ 6.17426119e+00 -6.96206820e-01]
 [ 7.28250110e+00 -3.33809119e-01]
 [ 7.98947118e+00 -9.56464037e-01]
 [ 5.27740400e+00 -5.91901224e-01]
 [ 7.08250847e+00 -1.03136983e+00]
 [ 7.04197018e+00 -1.39213692e+00]
 [ 7.47262642e+00  1.17444298e+00]
 [ 5.29048767e+00  1.01185022e+00]
 [ 6.27046298e+00 -2.92462772e-01]
 [ 6.49766617e+00  3.90852705e-01]
 [ 6.71316027e+00 -4.07353141e-01]
 [ 7.40713141e+00  4.42626970e-01]
 [ 6.65798989e+00  1.17330785e+00]
 [ 6.15389907e+00  2.44658864e-01]
 [ 7.69310590e+00  1.14789126e+00]
 [ 1.00306694e+01 -1.38209264e+00]
 [ 5.96652289e+00 -1.01913299e+00]
 [ 7.32473538e+00  1.07437159e+00]
 [ 6.44895251e+00  6.22734529e-01]
 [ 8.78196665e+00 -7.90469260e-01]
 [ 5.70087187e+00  5.91159780e-01]
 [ 7.00600819e+00  1.23450740e+00]
 [ 6.75852676e+00  6.64329578e-01]
 [ 5.53189879e+00  1.00633330e+00]
 [ 5.57276067e+00  1.29840034e+00]
 [ 7.83833964e+00  4.23160445e-01]
 [ 6.29248770e+00  5.26420368e-01]
 [ 7.78995647e+00  9.49060082e-02]
 [ 6.96140902e+00  2.02325663e+00]
 [ 8.21488486e+00  6.67039960e-01]
 [ 5.64366764e+00  7.62079558e-01]
 [ 6.91028131e+00 -3.30536839e-01]
 [ 8.41503410e+00  1.09989352e+00]
 [ 8.06965043e+00  2.15477953e+00]
 [ 6.84146790e+00  1.30995528e+00]
 [ 5.82879089e+00  1.85484513e+00]
 [ 7.05075339e+00  1.89724558e+00]
 [ 8.34475762e+00  1.85498180e+00]
 [ 6.95941100e+00  2.48596552e+00]
 [ 7.38706939e+00  1.07394201e+00]
 [ 8.64084753e+00  1.78627168e+00]
 [ 8.65595512e+00  2.38096960e+00]
 [ 7.59077894e+00  2.27161240e+00]
 [ 7.24484280e+00  1.12666424e+00]
 [ 7.10486072e+00  2.07272377e+00]
 [ 7.91924846e+00  2.80015068e+00]
 [ 6.92319938e+00  1.93478711e+00]]